{% extends 'base.html' %}

{% block titulopestana %}Bienvenido a onlyflans{% endblock %}

{% block contenido %}
<div class="container text-center py-5 my-5">    
    <div class="col-8 shadow mx-auto pb-5">
        <!--<div class="h1 fw-semibold py-3" style="background-color: #DAA520;">Conocenos</div>-->
        <!--<div class="h1 fw-semibold bg-info py-3">Conocenos</div>-->
        <div class="row h-100" style="background-color: #DAA520;">
            <h1>Conocenos</h1>
            <h2>Desde 1984 entregando los mejores momentos de cariño</h2>
            <p>Somos una pastelería Viñamarina que trabaja materias primas nobles y antiguas
            En nuestros productos los sabores, texturas y formas se combinan
                para lograr un resultado excepcional tanto para la vista como en el paladar.
            </p>
        </div>
        
    </div>
</div>
{% endblock %}




